<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="row">
            <div class="col-md-12">
                <h3>그룹 정보</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>항목</th>
                            <th>내용</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>그룹 번호</td>
                            <td>{{group_id}}</td>
                        </tr>
                        <tr>
                            <td>그룹 이름</td>
                            <td>{{group_name}}</td>
                        </tr>
                        <tr>
                            <td>생성한 사람</td>
                            <td>{{group_creator}}</td>
                        </tr>
                        <tr>
                            <td>멤버 수</td>
                            <td>{{num_of_group_members}}</td>
                        </tr>
                        <tr>
                            <td>생성 일자</td>
                            <td>{{group_creation_date}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <h3>내 정보</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>항목</th>
                            <th>내용</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>회원 번호</td>
                            <td>{{user_uid}}</td>
                        </tr>
                        <tr>
                            <td>이름</td>
                            <td>{{user_name}}</td>
                        </tr>
                        <tr>
                            <td>이메일</td>
                            <td>{{user_email}}</td>
                        </tr>
                        <tr>
                            <td>접속 IP</td>
                            <td>{{user_ip_address}}</td>
                        </tr>
                        <tr>
                            <td>로그인 유효시간</td>
                            <td>{{user_exp}} 남음</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-sm-12">

    </div>
</div>