<h3>메뉴별 대기 상태</h3>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th class="text-center">메뉴명</th>
            <th class="text-center">전체수량</th>
            <th class="text-center">대기수량</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="menu in menu_list">
            <td class="text-center">{{menu.name}}</td>
            <td class="text-center">{{menu.total_count}}</td>
            <td class="text-center"><strong>{{menu.waiting_count}}</strong></td>
        </tr>
    </tbody>
</table>