<h3>주문 내역</h3>

<a ng-click="changeShowOnlyMyListState()" class="btn btn-sm btn-block btn-raised" ng-class="(show_only_my_request) == 0 ? 'btn-default' : 'btn-info'">내 주문 내역만 보기</a>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th class="text-center">주문번호</th>
            <th class="text-center">주문 내용</th>
            <th class="text-center" colspan="2">처리 결과</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="order in order_list">
            <td class="text-center">{{order.id}}</td>
            <td class="text-center"><a href="" ng-click="show_order_content(order)">내용 보기</a></td>
            <td class="text-center">
                <i ng-show="(order.approve_status != 1 && order.approve_status != 0)" class="fa fa-spinner fa-pulse fa-fw margin-bottom" aria-hidden="true"></i>
                <i ng-show="(order.approve_status == 1)" class="fa fa-check" aria-hidden="true"></i>
                <i ng-show="(order.approve_status == 0)" class="fa fa-close" aria-hidden="true"></i>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <ul class="pagination">
        <li ng-class="(pagination_info.prev_active) ? '' : 'disabled'">
            <a href="" ng-click="gotoPrevPage()" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li ng-repeat="page in pagination_info.pagination_num_list" ng-class="(pagination_info.current_page == page) ? 'active' : ''">
            <a href="" ng-click="gotoSpecificPage(page)">{{page}}</a>
        </li>
        <li ng-class="(pagination_info.next_active) ? '' : 'disabled'">
            <a href="" ng-click="gotoNextPage()" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>