<h3>주문 요청</h3>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th class="text-center" style="width: 65%;">메뉴명</th>
            <th class="text-center" style="width: 15%;">수량</th>
            <th class="text-center" style="width: 20%;">초기화</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="menu in menu_list" ng-show="(menu.is_available == 1)">
            <td class="text-center" ng-click="updateMenuCount(menu, menu.count + 1)">{{menu.name}}</td>
            <td class="text-center">{{menu.count}}</td>
            <td class="text-center"><a href="" ng-click="updateMenuCount(menu, 0)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
        </tr>
    </tbody>
</table>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th class="text-center" style="width: 65%;">세트메뉴명</th>
            <th class="text-center" style="width: 15%;">수량</th>
            <th class="text-center" style="width: 20%;">초기화</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="setmenu in setmenu_list" ng-show="(setmenu.is_available == 1)">
            <td class="text-center" ng-click="updateMenuCount(setmenu, setmenu.count + 1)">{{setmenu.name}}</td>
            <td class="text-center">{{setmenu.count}}</td>
            <td class="text-center"><a href="" ng-click="updateSetMenuCount(setmenu, 0)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
        </tr>
    </tbody>
</table>

<div class="form-group label-floating">
    <label class="control-label">테이블 번호</label>
    <input class="form-control" type="number" ng-model="table_num">
</div>

<button class="btn btn-default btn-lg btn-block btn-raised" type="button">총 가격(<i class="fa fa-krw"></i>): {{total_price}}</button>
<button class="btn btn-primary btn-lg btn-block btn-raised" type="button" ng-click="requestOrder()">주문 요청</button>