<div class="row">
    <div class="col-md-6">
        <div class="jumbotron">
            <legend>멤버 목록</legend>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">회원 번호</th>
                        <th class="text-center">이름</th>
                        <th class="text-center">가입 일자</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="member in member_list">
                        <td class="text-center">{{member.id}}</td>
                        <td class="text-center">{{member.name}}</td>
                        <td class="text-center">{{getDateTimeText(member.createdAt)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="jumbotron">
            <legend>멤버 추가</legend>
            <fieldset>
                <form ng-submit="addMember()">
                    <div class="form-group label-floating">
                        <label class="control-label">새로 추가할 멤버 이메일</label>
                        <input class="form-control" type="email" ng-model="email" ng-required="true">
                    </div>

                    <button class="btn btn-primary btn-lg btn-block btn-raised" type="submit">추가하기</button>
                </form>
            </fieldset>
        </div>
    </div>
</div>