<div class="row">
    <div class="col-md-6">
        <div class="jumbotron">
            <legend>메뉴 목록</legend>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">이름</th>
                        <th class="text-center">가격(<i class="fa fa-krw"></i>)</th>
                        <th class="text-center">상태</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="menu in menu_list">
                        <td class="text-center">{{menu.name}}</td>
                        <td class="text-center"><input class="custom-input text-center" type="text" ng-value="menu.price" ng-model="menu.price" ng-blur="updateMenu(menu, menu.is_available)"></td>
                        <td class="text-center custom-change-button" ng-show="(menu.is_available == 1)" ng-click="updateMenu(menu, 0)">
                            <a href=""><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                        </td>
                        <td class="text-center custom-change-button" ng-show="(menu.is_available == 0)" ng-click="updateMenu(menu, 1)">
                            <a href=""><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="jumbotron">
            <legend>새 메뉴 추가</legend>
            <fieldset>
                <form ng-submit="addMenu()">
                    <div class="form-group label-floating">
                        <label class="control-label">메뉴 이름</label>
                        <input class="form-control" type="text" ng-model="new_menu_name" ng-required="true">
                    </div>

                    <div class="form-group label-floating">
                        <label class="control-label">메뉴 가격</label>
                        <input class="form-control" type="number" ng-model="new_menu_price" ng-required="true">
                    </div>

                    <button class="btn btn-primary btn-lg btn-block btn-raised" type="submit">추가하기</button>
                </form>
            </fieldset>
        </div>
    </div>
</div>