<section class="page-header page-header-light page-header-more-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>주문 처리 <button type="button" ng-click="getPendingList()" class="btn btn-warning btn-xs mr-xs mb-sm">수동 새로고침</button> <span>요청된 주문을 확인하고 승인/취소 를 할 수 있습니다.</span></h1>
                <ul class="breadcrumb breadcrumb-valign-mid">
                    <li>order</li>
                    <li>confirm</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>주문번호</th>
                        <th>주문자 이름</th>
                        <th>내역</th>
                        <th class="hidden-xs">총 가격(<i class="fa fa-krw"></i>)</th>
                        <th class="hidden-xs">테이블 번호</th>
                        <th class="hidden-xs">시간</th>
                        <th>처리</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pending in pending_list">
                        <td>{{pending.id}}</td>
                        <td>{{pending.user_name}}</td>
                        <td><button type="button" class="btn btn-default btn-xs" ng-click="show_order_content(pending)">보기</button></td>
                        <td class="hidden-xs">{{pending.total_price}}</td>
                        <td class="hidden-xs">{{pending.table_num}}</td>
                        <td class="hidden-xs">{{getDateTimeText(pending.createdAt)}}</td>
                        <td>
                            <a href="" data-ng-click="update_pending_data(pending.id, 1)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                            <a href="" data-ng-click="update_pending_data(pending.id, 0)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="text-center">
            <ul class="pagination">
                <li ng-class="(pagination_info.prev_active) ? '' : 'disabled'">
                    <a href="" ng-click="gotoPrevPage()" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li ng-repeat="page in pagination_info.pagination_num_list" ng-class="(pagination_info.current_page == page) ? 'active' : ''">
                    <a href="" ng-click="gotoSpecificPage(page)">{{page}}</a>
                </li>
                <li ng-class="(pagination_info.next_active) ? '' : 'disabled'">
                    <a href="" ng-click="gotoNextPage()" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>