<section class="page-header page-header-light page-header-more-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>주문 요청 <button type="button" ng-click="getMenuList()" class="btn btn-warning btn-xs mr-xs mb-sm">수동 새로고침</button> <span>새로운 주문을 요청할 수 있습니다.</span></h1>
                <ul class="breadcrumb breadcrumb-valign-mid">
                    <li>order</li>
                    <li>request</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>메뉴명</th>
                        <th>가격</th>
                        <th>수량</th>
                        <th>조작</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="menu in menu_list" ng-class="(menu.is_available == 0) ? 'danger' : ''">
                        <td>{{menu.name}}</td>
                        <td>{{menu.price}}</td>
                        <td><input class="custom-input" type="text" ng-model="menu.count" ng-blur="updateMenuCountDirectly()"></td>
                        <td>
                            <div data-ng-show="(menu.is_available == 1)">
                                <a href="" ng-click="updateMenuCount(menu, menu.count + 1)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                <a href="" ng-click="updateMenuCount(menu, menu.count - 1)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
                                <a href="" ng-click="updateMenuCount(menu, 0)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            </div>
                            <div ng-hide="(menu.is_available == 1)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="form-group">
                <label>테이블 번호</label>
                <input type="number" ng-model="table_num" class="form-control input-lg">
            </div>

            <button type="button" class="btn btn-default btn-lg btn-block">총 가격(<i class="fa fa-krw"></i>): {{total_price}}</button>
            <button type="button" ng-click="requestOrder()" class="btn btn-primary btn-lg btn-block">주문 요청하기</button>
        </div>
    </div>
</div>