<section class="page-header page-header-light page-header-more-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>그룹 정보 <span>현재 선택한 그룹 정보를 볼 수 있습니다.</span></h1>
                <ul class="breadcrumb breadcrumb-valign-mid">
                    <li>group</li>
                    <li>info</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>항목</th>
                        <th>내용</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>그룹 번호</td>
                        <td>{{group_info.group_id}}</td>
                    </tr>
                    <tr>
                        <td>그룹 이름</td>
                        <td>{{group_info.group_name}}</td>
                    </tr>
                    <tr>
                        <td>생성한 사람</td>
                        <td>{{group_info.group_creator.user_name}}</td>
                    </tr>
                    <tr>
                        <td>생성 일자</td>
                        <td>{{getDateTimeText(group_info.group_creation_date)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>