<section class="page-header page-header-light page-header-more-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>세트메뉴 관리 <span>기존 세트메뉴 정보를 수정하거나 새로운 세트메뉴를 추가할 수 있습니다.</span></h1>
                <ul class="breadcrumb breadcrumb-valign-mid">
                    <li>manage</li>
                    <li>setmenu</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>세트메뉴 목록</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>이름</th>
                        <th>가격(<i class="fa fa-krw"></i>)</th>
                        <th>구성</th>
                        <th>활성</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="setmenu in setmenu_list">
                        <td>{{setmenu.name}}</td>
                        <td><input class="custom-input" type="text" ng-value="setmenu.price" ng-model="setmenu.price" ng-blur="updateSetMenu(setmenu, setmenu.is_available)"></td>
                        <td><a href="" ng-click="showSetContent(setmenu.list)">내용 보기</a></td>
                        <td>
                            <a href="" ng-click="updateSetMenu(setmenu, 0)"><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="(setmenu.is_available == 1)"></span></a>
                            <a href="" ng-click="updateSetMenu(setmenu, 1)"><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="(setmenu.is_available == 0)"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <div class="featured-boxes">
                <div class="row">
                    <div class="col-md-12">
                        <div class="featured-box featured-box-primary align-left mt-xlg">
                            <div class="box-content">
                                <h4 class="heading-primary text-uppercase mb-md">세트메뉴 추가</h4>
                                <form ng-submit="addSetMenu()">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>이름</label>
                                                <input type="text" ng-model="new_setmenu_name" class="form-control input-lg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>가격</label>
                                                <input type="number" ng-model="new_setmenu_price" class="form-control input-lg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>현재 세트 구성 (<a href="" ng-click="clearSetContent()">구성 초기화</a>)</label> <br>
                                                <span ng-repeat="content in newSetContent track by $index">
                                                    <button type="button" class="btn btn-default btn-xs">{{content.name}}</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>

                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>메뉴 이름</th>
                                                <th>메뉴 가격</th>
                                                <th>추가하기</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="menu in menu_list">
                                                <td>{{menu.name}}</td>
                                                <td>{{menu.price}}</td>
                                                <td><a href="" ng-click="addMenuIntoNewSet(menu)">목록에 추가</a></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <hr>

                                    <div class="row">
                                        <div class="col-md-6"></div>
                                        <div class="col-md-6">
                                            <input type="submit" value="추가하기" class="btn btn-primary pull-right mb-xl">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>