<div class="row">
    <div class="col-md-3">
        <div class="jumbotron">
            <legend>메뉴별 대기 수량</legend>

            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">메뉴명</th>
                        <th class="text-center">총 수량</th>
                        <th class="text-center">대기 수량</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="menu in menu_list">
                        <td class="text-center">{{menu.name}}</td>
                        <td class="text-center">{{menu.total_count}}</td>
                        <td class="text-center"><strong>{{menu.waiting_count}}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-9 hidden-xs">
        <div class="jumbotron">
            <legend>메뉴별 대기열</legend>

            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">메뉴명</th>
                        <th class="text-center">대기열</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="menu in menu_list">
                        <td style="vertical-align:middle;" class="text-center">{{menu.name}}</td>
                        <td style="vertical-align:middle;">
                                <span ng-repeat="data in menu.waiting_list">
                                    <a href="" class="btn btn-raised btn-default btn-sm" data-ng-click="update_waiting_status(menu, data)">{{data.content}}</a>
                                </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>